In [164]:
import pandas as pd

In [165]:
df = pd.read_csv('/home/rmartinez/Documents/github_projects/mexico_earthquakes/data/sismos.csv', encoding='latin1')

/home/rmartinez/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [166]:
df.describe()

             Latitud       Longitud
count  137020.000000  137020.000000
mean       17.330889     -98.130885
std         3.826909       5.422786
min        11.752000    -120.595000
25%        15.590000    -100.050000
50%        16.320000     -97.590000
75%        17.330000     -94.450000
max        33.466500     -85.546700

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137020 entries, 0 to 137019
Data columns (total 10 columns):
Fecha           137020 non-null object
Hora            137020 non-null object
Magnitud        137020 non-null object
Latitud         137020 non-null float64
Longitud        137020 non-null float64
Profundidad     137020 non-null object
Localizacion    137020 non-null object
Fecha_UTC       137020 non-null object
Hora_UTC        137020 non-null object
Estatus         137020 non-null object
dtypes: float64(2), object(8)
memory usage: 10.5+ MB

In [168]:
magnitud_df = df[df.Magnitud!='no calculable']
magnitud_df_2 = pd.DataFrame(magnitud_df['Magnitud'].astype('float64'), columns=['Magnitud'])
magnitud_mean = magnitud_df_2['Magnitud'].mean()
df.replace('no calculable', magnitud_mean, inplace=True)
df.iloc[140]
df['Magnitud']= pd.DataFrame(df['Magnitud'].astype('float64'), columns=['Magnitud'])

profundidad_df = df[df.Profundidad!='en revision']
profundidad_df_2 = pd.DataFrame(profundidad_df['Profundidad'].astype('float64'), columns=['Profundidad'])
profundidad_mean = profundidad_df_2['Profundidad'].mean()
df.replace('en revision', profundidad_mean, inplace=True)
df['Profundidad']= pd.DataFrame(df['Profundidad'].astype('float64'), columns=['Profundidad'])
df.iloc[56208]


#df.info()
#magnitud_new = pd.DataFrame(df['Magnitud'].astype('float64'), columns=['Magnitud'])
#df['Magnitud'].fillna()

Fecha                                  2012-06-29
Hora                                     11:40:01
Magnitud                                      4.2
Latitud                                   13.5565
Longitud                                 -92.1658
Profundidad                               34.8478
Localizacion    124 km al SUR de CD HIDALGO, CHIS
Fecha_UTC                              2012-06-29
Hora_UTC                                 16:40:01
Estatus                                  revisado
Name: 56208, dtype: object

In [169]:
df.corr()

             Magnitud   Latitud  Longitud  Profundidad
Magnitud     1.000000 -0.122907  0.137557     0.144579
Latitud     -0.122907  1.000000 -0.889023    -0.161381
Longitud     0.137557 -0.889023  1.000000     0.348676
Profundidad  0.144579 -0.161381  0.348676     1.000000

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137020 entries, 0 to 137019
Data columns (total 10 columns):
Fecha           137020 non-null object
Hora            137020 non-null object
Magnitud        137020 non-null float64
Latitud         137020 non-null float64
Longitud        137020 non-null float64
Profundidad     137020 non-null float64
Localizacion    137020 non-null object
Fecha_UTC       137020 non-null object
Hora_UTC        137020 non-null object
Estatus         137020 non-null object
dtypes: float64(4), object(6)
memory usage: 10.5+ MB

In [171]:
df.dtypes

Fecha            object
Hora             object
Magnitud        float64
Latitud         float64
Longitud        float64
Profundidad     float64
Localizacion     object
Fecha_UTC        object
Hora_UTC         object
Estatus          object
dtype: object

In [172]:
df['Fecha_Hora']=pd.to_datetime(df['Fecha'] + ' '+ df['Hora'])

In [173]:
df.corr()

             Magnitud   Latitud  Longitud  Profundidad
Magnitud     1.000000 -0.122907  0.137557     0.144579
Latitud     -0.122907  1.000000 -0.889023    -0.161381
Longitud     0.137557 -0.889023  1.000000     0.348676
Profundidad  0.144579 -0.161381  0.348676     1.000000

In [174]:
df['Fecha_Hora']

0        1900-01-20 00:33:30
1        1900-05-16 14:12:00
2        1901-03-05 04:45:00
3        1901-12-08 20:17:00
4        1902-01-16 17:19:00
5        1902-04-18 20:23:00
6        1902-09-23 14:18:00
7        1902-12-12 17:10:00
8        1903-01-13 19:47:36
9        1905-10-24 11:40:00
10       1905-12-16 23:27:00
11       1906-04-10 15:18:00
12       1907-04-15 00:08:06
13       1907-10-16 08:57:18
14       1908-03-26 17:03:30
15       1908-03-26 21:45:30
16       1908-10-12 23:06:00
17       1909-07-30 04:51:54
18       1909-07-31 12:43:10
19       1909-09-05 05:17:20
20       1909-10-31 04:23:00
21       1910-05-30 22:19:19
22       1910-09-23 21:32:42
23       1911-02-03 14:41:55
24       1911-06-07 05:02:42
25       1911-08-27 04:59:18
26       1911-12-16 13:14:18
27       1912-11-19 07:55:07
28       1912-12-09 02:32:24
29       1914-03-29 18:41:18
                 ...
136990   2018-05-06 00:43:20
136991   2018-05-06 00:48:01
136992   2018-05-06 00:48:59
136993   2018-05-06 00:51:50
136994   2018-05-06 01:10:55
136995   2018-05-06 01:22:19
136996   2018-05-06 01:44:32
136997   2018-05-06 01:50:39
136998   2018-05-06 02:02:19
136999   2018-05-06 02:07:25
137000   2018-05-06 02:49:20
137001   2018-05-06 03:14:54
137002   2018-05-06 03:35:07
137003   2018-05-06 04:00:38
137004   2018-05-06 04:14:53
137005   2018-05-06 04:42:29
137006   2018-05-06 04:48:29
137007   2018-05-06 05:31:48
137008   2018-05-06 05:43:45
137009   2018-05-06 05:45:17
137010   2018-05-06 05:51:00
137011   2018-05-06 06:05:59
137012   2018-05-06 06:50:06
137013   2018-05-06 08:16:06
137014   2018-05-06 08:30:21
137015   2018-05-06 08:45:25
137016   2018-05-06 08:49:42
137017   2018-05-06 09:00:44
137018   2018-05-06 09:02:14
137019   2018-05-06 09:08:26
Name: Fecha_Hora, Length: 137020, dtype: datetime64[ns]

In [175]:
df.drop(columns=['Fecha','Hora','Fecha_UTC','Hora_UTC','Estatus'], inplace=True)

In [176]:
df.dtypes

Magnitud               float64
Latitud                float64
Longitud               float64
Profundidad            float64
Localizacion            object
Fecha_Hora      datetime64[ns]
dtype: object

In [177]:
df.Localizacion.unique()

array(['71 km al NOROESTE de AUTLAN DE NAVARRO, JAL',
       '100 km al NORESTE de LA PAZ, BCS', '83 km al OESTE de AHOME, SIN',
       ..., '10 km al ESTE de SAN MARCOS, GRO',
       '4 km al NORESTE de SAYULA, JAL',
       '43 km al SURESTE de CHILAPA DE ALVAREZ, GRO'], dtype=object)

In [179]:
import re
regex = '^.*km al .*de '

local_sub = lambda x: re.sub(regex,'',x)

df['Localizacion']=df['Localizacion'].apply(local_sub)
df['Localizacion'].unique().size

614

In [180]:
df.corr()

             Magnitud   Latitud  Longitud  Profundidad
Magnitud     1.000000 -0.122907  0.137557     0.144579
Latitud     -0.122907  1.000000 -0.889023    -0.161381
Longitud     0.137557 -0.889023  1.000000     0.348676
Profundidad  0.144579 -0.161381  0.348676     1.000000

In [188]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

data = df['Localizacion'].values
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(data)

In [189]:
one_hot = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
one_hot.fit_transform(integer_encoded)

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])